In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
pd.set_option('display.float_format', lambda x: '%.4f' %x)

In [3]:
import seaborn as sns
sns.set_context('paper', font_scale=1.3)
sns.set_style('white')

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
from time import time

In [6]:
import matplotlib.ticker as tk

In [7]:
from scipy import stats
from statsmodels.tsa.stattools import adfuller
from sklearn import preprocessing
from statsmodels.tsa.stattools import pacf
%matplotlib inline

In [8]:
import math 
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout
from keras.layers import *
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from keras.callbacks import EarlyStopping

Using TensorFlow backend.

In [ ]:
df = pd.read_csv('./Dataset/May22_31.txt', delimiter=',', names=['Timestamp', 'Source', 'Destination', 'Length'])

In [ ]:
print( 'Number of rows and column:', df.shape)
df.tail(10)

In [ ]:
list(df.columns.values)

In [ ]:
df.reset_index(level=0, inplace=True)

In [ ]:
df.head(5)

In [ ]:
df["Time"] = df["index"].map(str) + df["Timestamp"]

In [ ]:
df.head(5)

In [ ]:
df['date_time'] = pd.to_datetime(df['Time'])

In [ ]:
df.head(5)

In [ ]:
df.to_pickle('./Dataset/May01_09_formatted.pkl')

In [ ]:
df2 = pd.read_pickle('./Dataset/May01_09_formatted.pkl')

In [ ]:
df2.head()

In [ ]:
df2['second'] = df2['date_time'].apply(lambda x : x.second)

In [ ]:
df2.head(5)

In [ ]:
df2['Minute'] = df2['date_time'].apply(lambda x : x.minute)

In [ ]:
df2.head(5)

In [ ]:
df2['Hour'] = df2['date_time'].apply(lambda x : x.hour)

In [ ]:
df2.head(5)

In [ ]:
df2['Day'] = df2['date_time'].apply(lambda x : x.day)

In [ ]:
df2.tail(5)

In [ ]:
del df2['index']

In [ ]:
del df2['Time']

In [ ]:
del df2['Timestamp']

In [ ]:
df2.head(5)

In [ ]:
df2.columns = ['Source', 'Destination','Length','DateTime','Second','Minute','Hour', 'Day']

In [ ]:
df2.head(5)

In [ ]:
df2.to_pickle('./Dataset/May01_09_cleaned.pkl')

In [ ]:
def clean_date(path):
    df = pd.read_csv(path, delimiter=',', names=['Timestamp', 'Source', 'Destination', 'Length'])
    df.reset_index(level=0, inplace=True)
    df["Time"] = df["index"].map(str) + df["Timestamp"]
    del df['index']
    del df['Timestamp']
    df['DateTime'] = pd.to_datetime(df['Time'])
    df.to_pickle(path[:-4] + '.pkl')

In [ ]:
paths = ['./Dataset/May31_June12.txt', './Dataset/June15_16.txt']

In [ ]:
for p in paths:
    clean_date(p)

In [ ]:
paths[0][:-4] + '.pkl'

In [ ]:
df = clean_date(paths[0])

In [ ]:
df.head()

In [ ]:
del df['index']

In [ ]:
del df['Timestamp']

In [ ]:
df.head()

In [ ]:
for p in paths:  
    clean_date('./Dataset/May01_09')

In [ ]:
df = pd.read_pickle('./Dataset/May01_09_formatted.pkl')

In [ ]:
df = pd.read_csv('./Dataset/May31_June12.txt', delimiter=',', names=['Timestamp', 'Source', 'Destination', 'Length'])
df.reset_index(level=0, inplace=True)
df["Time"] = df["index"].map(str) + df["Timestamp"]
del df['index']
del df['Timestamp']

In [ ]:
df['DateTime'] = pd.to_datetime(df['Time'])

In [ ]:
df1 = pd.read_csv('./Dataset/June15_16.txt', delimiter=',', names=['Timestamp', 'Source', 'Destination', 'Length'])
df1.reset_index(level=0, inplace=True)
df1["Time"] = df1["index"].map(str) + df1["Timestamp"]
del df1['index']
del df1['Timestamp']

In [ ]:
df1['DateTime'] = pd.to_datetime(df['Time'])

In [ ]:
df.to_pickle('./Dataset/May31_June12.pkl')

In [ ]:
df1.to_pickle('./Dataset/June15_16.pkl')

In [ ]:
df = pd.read_pickle('./Dataset/May22_31.pkl')

In [ ]:
df_1 = pd.read_pickle('./Dataset/May01_09_cleaned.pkl')

In [ ]:
df.head()

In [ ]:
df_1.head()

In [9]:
df = pd.read_pickle('./Dataset/May22_31.pkl')

In [10]:
df['second'] = df['DateTime'].apply(lambda x : x.second)

In [11]:
df.to_pickle('./Dataset/May22_31_cleaned.pkl')

In [12]:
df['Minute'] = df['DateTime'].apply(lambda x : x.minute)

In [13]:
df.to_pickle('./Dataset/May22_31_cleaned.pkl')

In [14]:
df['Hour'] = df['DateTime'].apply(lambda x : x.hour)

In [15]:
df.to_pickle('./Dataset/May22_31_cleaned.pkl')

In [16]:
df['Day'] = df['DateTime'].apply(lambda x : x.day)

In [17]:
df.to_pickle('./Dataset/May22_31_cleaned.pkl')

In [20]:
del df['Time']
#df.columns = ['Source', 'Destination','Length','DateTime','Second','Minute','Hour', 'Day']

In [24]:
df.to_pickle('./Dataset/May22_31_cleaned.pkl')

In [25]:
df.head()

,Source,Destination,Length,DateTime,second,Minute,Hour,Day
0,192.168.0.11,192.168.0.4,100,2007-05-22 23:05:43.749350,43,5,23,22
1,192.168.0.11,192.168.0.4,164,2007-05-22 23:05:43.749473,43,5,23,22
2,192.168.0.4,192.168.0.11,52,2007-05-22 23:05:43.749739,43,5,23,22
3,192.168.0.4,192.168.0.11,52,2007-05-22 23:05:43.749808,43,5,23,22
4,192.168.0.1,129.37.100.90,172,2007-05-22 23:05:43.750063,43,5,23,22

In [26]:
df['YYYY'] = df['DateTime'].apply(lambda x: x.year)

In [27]:
df['MM'] = df['DateTime'].apply(lambda x: x.month)

In [28]:
df["weekday"]=df.apply(lambda row: row["DateTime"].weekday(),axis=1)
df["weekday"] = (df["weekday"] < 5).astype(int)

In [29]:
df.head()

,Source,Destination,Length,DateTime,second,Minute,Hour,Day,YYYY,MM,weekday
0,192.168.0.11,192.168.0.4,100,2007-05-22 23:05:43.749350,43,5,23,22,2007,5,1
1,192.168.0.11,192.168.0.4,164,2007-05-22 23:05:43.749473,43,5,23,22,2007,5,1
2,192.168.0.4,192.168.0.11,52,2007-05-22 23:05:43.749739,43,5,23,22,2007,5,1
3,192.168.0.4,192.168.0.11,52,2007-05-22 23:05:43.749808,43,5,23,22,2007,5,1
4,192.168.0.1,129.37.100.90,172,2007-05-22 23:05:43.750063,43,5,23,22,2007,5,1

In [30]:
df.to_pickle('./Dataset/May22_31_cleaned.pkl')

In [ ]:
df.columns = ['Source','Destination','Length', 'DateTime','second']

In [ ]:
dic={0:'Weekend',1:'Weekday'}
df['Day'] = df.weekday.map(dic)

In [22]:
test = pd.read_pickle('./Dataset/May01_09_cleaned.pkl')

In [23]:
test.head()

,Source,Destination,Length,DateTime,Second,Minute,Hour,Day,weekday,YYYY,MM,DD
0,192.168.5.20,12.76.65.58,60,2007-05-01 19:55:56.762087,56,55,19,Weekday,1,2007,5,1
1,12.76.65.58,192.168.5.20,60,2007-05-01 19:55:56.890691,56,55,19,Weekday,1,2007,5,1
2,192.168.5.20,12.76.65.58,52,2007-05-01 19:55:56.890840,56,55,19,Weekday,1,2007,5,1
3,192.168.5.20,12.76.65.58,178,2007-05-01 19:55:56.891191,56,55,19,Weekday,1,2007,5,1
4,12.76.65.58,192.168.5.20,52,2007-05-01 19:55:57.019846,57,55,19,Weekday,1,2007,5,1